@using GroupAssignment_L2_2.Models
<!DOCTYPE html>
<html>
<head>
    <title>Remove</title>
</head>
<body>
    <h1>Remove Customer</h1>
    <form action="/customers/remove" method="post">
        <br />
        <label>Company ID:</label>
        <br />
        <input type="text" name="id" />
        <br />
        <input type="submit" value="Remove Customer" />
    </form>
</body>
</html>
