<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>League Of Legends</h1>
    <div style="background-color:#333">
        @RenderBody()
    </div>
    <footer>&copy; Jimmy Waern 2017</footer>
</body>
</html>
